.Contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 3rem auto;
    align-items: center;
    justify-items: center;
}

.Contact > div{
    padding: 3rem;
}

@media (max-width: 887px){
    .Contact{
        grid-template-columns: 1fr;
    }
}